#set($title=$artifact.name)
#decorate("layout.vm")

<h3>$artifact.name</h3>
legendary $artifact.mat
#if($artifact.itemSubType)
	$artifact.itemSubType
#else
	$artifact.itemType 
#end

#parse("events.vm")

#end