#set($title="Event Collections") #decorate("layout.vm")

<h3>Event Collections</h3>

<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
  	#foreach($type in $types)
    <li role="presentation"#if( $foreach.count == 1 ) class="active"#end><a href="#$type.replace(" ","-")" aria-controls="$type.replace(" ","-")" role="tab" data-toggle="tab">$type</a></li>
    #end
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
  	#foreach($type in $types)
  	#set($list = $events.get($type))
    <div role="tabpanel" class="tab-pane#if( $foreach.count == 1 ) active#end" id="$type.replace(" ","-")">
    	<ul>
    	#foreach($event in $list)
    		<li>In $event.startYear, $event.link <i>($event.eventCols.size() collections, $event.events.size() events)</i></li>
    	#end
    	</ul>
    </div>
    #end
  </div>

</div>
#end
