#set($title=$event.name)
#decorate("layout.vm")

<div class="pull-right">
	<div id="map" style="width: 500px; height: 500px"></div>
	#parse("map.vm") 
</div>

<script>
$(function() {
	#if($event.type.equals("war"))
		#set($aggressor = $World.getEntity($event.aggressorEntId))
		#set($defender = $World.getEntity($event.defenderEntId))

		#foreach($site in $aggressor.sites)
			addSite('$site.link', $site.x, $site.y, '$aggressor.color');
		#end
		#foreach($site in $defender.sites)
			addSite('$site.link', $site.x, $site.y, '$defender.color');
		#end
		#foreach( $e in $event.historicalEventCollections )
			#if($e.type.equals("battle"))
				addBattle('$e.link', $e.location.coords.x, $e.location.coords.y);
			#end
		#end
		zoom();
	#end

	#if($event.type.equals("battle"))
		#set($war = $World.getHistoricalEventCollection($event.warEventCol))
		#set($aggressor = $World.getEntity($war.aggressorEntId))
		#set($defender = $World.getEntity($war.defenderEntId))

		#foreach($site in $aggressor.sites)
			addSite('$site.link', $site.x, $site.y, '$aggressor.color');
		#end
		#foreach($site in $defender.sites)
			addSite('$site.link', $site.x, $site.y, '$defender.color');
		#end
		addBattle('$event.link', $event.location.coords.x, $event.location.coords.y);
		zoom();
	#end

	#if($event.type.equals("beast attack"))
		addBattle('$event.link', $event.location.coords.x, $event.location.coords.y);
	#end

	#if($event.type.equals("duel"))
		addBattle('$event.link', $event.location.coords.x, $event.location.coords.y);
	#end

	#if($event.type.equals("journey"))
		addBattle('$event.link', $event.location.coords.x, $event.location.coords.y);
	#end
	
	#if($event.type.equals("abduction"))
		addBattle('$event.link', $event.location.coords.x, $event.location.coords.y);
	#end

	#if($event.type.equals("theft"))
		addBattle('$event.link', $event.location.coords.x, $event.location.coords.y);
	#end

	#if($event.type.equals("occasion") or $event.type.equals("procession") or $event.type.equals("ceremony") or $event.type.equals("performance") or $event.type.equals("competition"))
		addBattle('$event.link', $event.site.x, $event.site.y);
	#end


});
</script>

<h3>In $event.startYear, $event.sentence</h3>
$event.description

<ul>
#foreach( $e in $event.historicalEventCollections )
	<li><h4>In $e.startYear, $e.sentence</h4>
		$e.description
		<ul>
		#foreach( $e2 in $e.allHistoricalEvents )
			<li>In $e2.year, $e2.sentence
				#if($e2.collection && $e.id != $e2.collection.id) 
					<a class="glyphicon glyphicon-search" role="button" data-toggle="popover" data="$e2.collection.url"></a>
				#end
		    </li>
		#end
		</ul>
	    </li>
#end
#foreach( $e in $event.historicalEvents )
	<li>In $e.year, $e.sentence
		#if($e.collection && $event.id != $e.collection.id) 
			<a class="glyphicon glyphicon-search" role="button" data-toggle="popover" data="$e.collection.url"></a>
		#end
	
    </li>
#end
</ul>


#end