#set($title=$entity.name) #decorate("layout.vm")



<h3>$entity.name</h3>
$entity.race 
$entity.type 
#if($entity.leaders.size()>0)
<h4>Leaders</h4>
<ul>
	#foreach($leader in $entity.leaders)
	<li>$leader.hf.link ($leader.position from $leader.from till
		$leader.till)</li> #end
</ul>
#end #if($entity.sites.size()>0)
<div class="row">
	<div class="col-md-9">
		<h4>Sites</h4>
		<table class="table">
			<tr>
				<th>Site</th>
				<th>Founded</th>
				<th>Destroyed</th>
			</tr>
			#foreach( $site in $entity.sites )
			<tr>
				<td>$site.link, $site.type</td>
				<td>$site.founded</td>
				<td>$site.destroyed</td>
			</tr>
			#end
		</table>
	</div>
	<div class="col-md-3">
		<h4>Map</h4>
		<div id="map" style="width: 300px; height: 300px"></div>
		#parse("map.vm")
		<script>
		$(function() {
			#foreach($site in $entity.sites)
				addSite('$site.link', $site.x, $site.y, '#FFF');
			#end
			zoom();
		});
	</script>

	</div>

</div>
#end #parse("events.vm") #end
