#if($events.size()>0)
<h4>Events</h4>
<ul>
#foreach( $event in $events )
	<li>
		$event.id In $event.date, $event.shortDescription
		#if($event.collection) 
		<a class="glyphicon glyphicon-search" role="button" data-toggle="popover" data="$event.collection.url"></a>
		 #end
    </li>
#end
</ul>
#end