#set($title = $hf.name)
#decorate("layout.vm")

<h3>$hf.name</h3>
<ul>
<li>Race: $hf.race</li>
<li>Caste: $hf.caste</li>
<li>Type: $hf.associatedType</li>
#if($hf.activeInteraction) <li>Active Interactions: $hf.activeInteraction</li> #end
</ul>

#parse("hffamily.vm")

<div class="row">
#if(($hf.siteLinks.size()+$hf.entityPositionLinks.size()+$hf.entityFormerPositionLinks.size())>0)
	<div class="col-md-4">
	#if($hf.siteLinks.size()>0)
		<h3>Sites</h3>
		<ul>
		#foreach( $siteLink in $hf.siteLinks )
			#set ($site = $World.getSite($siteLink.siteId))
		    <li>$site.link ($site.type)</li>
		#end
	#end
	</ul>
	#if(($hf.entityPositionLinks.size()+$hf.entityFormerPositionLinks.size())>0)
		<h3>Positions</h3>
		<ul>
		#foreach( $l in $hf.entityPositionLinks )
			#set ($entity = $World.getEntity($l.entityId))
			<li>$l.getPosition($hf) of $entity.link (since $l.startYear)</li>
		#end
		#foreach( $l in $hf.entityFormerPositionLinks )
			#set ($entity = $World.getEntity($l.entityId))
			<li>$l.getPosition($hf) of $entity.link ($l.startYear - $l.endYear)</li>
		#end
		</ul>
	#end
	</div>
#end

#if($hf.historicalFigureLinks.size()>0)
<div class="col-md-4">
<h3>Related Figures</h3>
<ul>
#foreach( $hfLink in $hf.historicalFigureLinks )
	#set ($lhf = $World.getHistoricalFigure($hfLink.historicalFigureId))
    <li>$lhf.link ($hfLink.linkType)</li>
#end
</ul>
</div>
#end

#if($hf.entityLinks.size()>0)
<div class="col-md-4">
<h3>Related Entities</h3>
<ul>
#foreach( $entityLink in $hf.entityLinks )
	#set ($entity = $World.getEntity($entityLink.entityId))
    <li>$entity.link ($entityLink.linkType)</li>
#end
</ul>
</div>
#end

</div>

<div class="row">

#if($hf.entityReputations.size()>0)
<div class="col-md-4">
<h3>Entity Reputations</h3>
<ul>
#foreach( $r in $hf.entityReputations )
	#set ($entity = $World.getEntity($r.entityId))
    <li>$entity.link
		<ul>
			#if($r.unsolvedMurders > 0)<li>Unsolved Murders: $r.unsolvedMurders</li>#end
    		#if($r.firstAgelessYear > 0)<li>First Suspected Ageless Year: $r.firstAgelessYear</li>#end
    		#if($r.repEnemyFighter >= 0)<li>Enemy Fighter: $r.repEnemyFighter</li>#end
    		#if($r.repKiller >= 0)<li>Killer: $r.repKiller</li>#end
    		#if($r.repPoet >= 0)<li>Poet: $r.repPoet</li>#end
    		#if($r.repBard >= 0)<li>Bard: $r.repBard</li>#end
    		#if($r.repStoryteller >= 0)<li>Storyteller: $r.repStoryteller</li>#end
    	</ul>
    </li>
#end
</ul>
</div>
#end

#if($hf.relationshipProfiles.size()>0)
<div class="col-md-4">
<h3>Relationships</h3>
<ul>
#foreach( $relationshipProfile in $hf.relevantRelationshipProfiles )
	#set ($hf2 = $World.getHistoricalFigure($relationshipProfile.hfId))
    <li>$hf2.link ($relationshipProfile.type)</li>
#end
</ul>
</div>
#end

#if(($hf.entitySquadLinks.size()+$hf.entityFormerSquadLinks.size())>0)
<div class="col-md-4">
<h3>Squads</h3>
<ul>
#foreach( $l in $hf.entitySquadLinks )
	#set ($entity = $World.getEntity($l.entityId))
	<li>$l.getPosition($hf) of squad $l.squadId of $entity.link (since $l.startYear)</li>
#end
#foreach( $l in $hf.entityFormerSquadLinks )
	#set ($entity = $World.getEntity($l.entityId))
	<li>$l.getPosition($hf) of squad $l.squadId of $entity.link ($l.startYear - $l.endYear)</li>
#end
</ul>
</div>
#end

</div>

#parse("events.vm")

#end