#if($familytreecount)
	#set($familytreecount=$familytreecount + 1)
#else
	#set($familytreecount=1)
#end

#if($family.members.size()>1)

#set($bw = 120 ) 
#set($bh = 40 ) 
#set($sx = 20 ) 
#set($sy = 20 ) 
#set($st = 5 ) 
#set($h= $family.generations.size() * ($bh+$sy) + $st )
#set($linkColor = "rgb(100,100,100)")
#set($svgWidth = ($family.maxX + 1) * ($bw+$sx) + $st)
#set($scroll = ($family.rootX + 0.5) * ($bw+$sx))

<div id="familytree$familytreecount" class="familytree" style="width: 100%; overflow-x: auto">
<svg width="${svgWidth}" height="$h">

#foreach($group in $family.groupedLinks)
	<g class="linegroup">
	#foreach($link in $group)
		#set($i1 = $family.getMembers($link.m1.generation).indexOf($link.m1))
		#set($i2 = $family.getMembers($link.m2.generation).indexOf($link.m2))
		#if($1 != -1 and $i2 != -1)
			#set($x1 = $st + ($link.x1) * ($bw+$sx) + $bw/2)
			#set($y1 = $st + ($link.m1.generation - $family.generations.get(0)) * ($bh+$sy) + $bh/2)
			#set($x2 = $st + ($link.m2.x) * ($bw+$sx) + $bw/2)
			#set($y2 = $st + ($link.m2.generation - $family.generations.get(0)) * ($bh+$sy) + $bh/2)
			#if($link.m1.generation == $link.m2.generation)
				#if($link.type.equals("spouse"))
	  			<polyline points="$x1,$y1 $x2,$y2" class="family spouse" />
	  			#end
	  		#else
	  			#set($ym = ($y1+$y2)/2)
	  			#if($link.m2.generation - $link.m1.generation == 1)
	   				<polyline points="$x1,$y1 $x1,$ym $x2,$ym $x2,$y2" />
	   			#end
	  		#end
		#end
	#end
	</g>
#end

#foreach($generation in $family.generations)
	#set($gc = $foreach.count )
	#foreach($m in $family.getMembers($generation))
		#set($x = $st + ($m.x) * ($bw+$sx))
		#set($y = $st + ($gc - 1) * ($bh+$sy))
		<rect x="$x" y="$y" width="$bw" height="$bh" class="family  #if($m.hf.deity) deity #elseif($m.hf.female) female #else male #end #if($m.hf.positions.size()>0) important #end #if($m.hf.id == $hf.id) self #end" >
		</rect>
		#set($x = $x + $bw/2)
		#if($family.curse || ($hf.id == $m.hf.id))
			#set($y = $y + $bh/2 - 5)
		#else
			#set($y = $y + $bh/2 - 11)
		#end
		<a xlink:href= "$m.hf.URL">
		<text x="$x" y="$y" alignment-baseline="middle" font-size="10px" text-anchor="middle" font-weight="bold">$m.hf.name</text>    
		<title>#foreach($l in $m.hf.positions)#set ($entity = $World.getEntity($l.entityId))$l.getPosition($hf) of $entity.name#if($foreach.hasNext)

#end#end</title>
		</a>
		
		#if(!$family.curse && ($hf.id != $m.hf.id))
			#set($y = $y + 11)
			<text x="$x" y="$y" alignment-baseline="middle" font-size="10px" text-anchor="middle" font-style="italic" pointer-events="none">$m.relation</text> 
		#end   
		
		#if(!$m.hf.deity && !$m.hf.force)
			#set($y = $y + 11)
			<text x="$x" y="$y" alignment-baseline="middle" font-size="10px" text-anchor="middle" pointer-events="none">*$m.hf.birthYear #if($m.hf.deathYear>=0)&#x2020;$m.hf.deathYear#end</text>    
		#end
	#end
#end

</svg>
</div>
<script>
$("#familytree$familytreecount").scrollLeft($scroll - $("#familytree$familytreecount").width()/2);
</script>
#end