#set($title="Legends Browser") #decorate("layout.vm")

<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Panel title</h3>
	</div>
	<div class="panel-body">
		<div class="pull-right">
			<div id="map"></div>
		</div>

		<ul>
		#foreach($entry in $entityMap.entrySet())
			#set($race = $entry.key)
			#set($entities = $entry.value)
			<li>$race</li>
			<ul>
			#foreach($entity in $entities)
				<li>$entity.link</li>
			#end
			</ul>
		#end
		</ul>
	</div>
	
	
	<script>
		$(function() {
			#foreach($entry in $entityMap.entrySet())
				#set($race = $entry.key)
				#set($entities = $entry.value)
				#foreach($entity in $entities)
					// $entity.name
					#foreach($site in $entity.sites)
						addSite('$site.link', $site.x, $site.y, '$entity.color');
					#end
				#end
			#end	
		});
	</script>	
</div>

#end
