<html>
<head>
<title>$title</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
	integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
	integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
<link rel="stylesheet"
	href="/resources/lib/Control.MiniMap.min.css" />

		<script
			src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script
			src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
			integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
			crossorigin="anonymous"></script>
		<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
		<script src="/resources/lib/Control.MiniMap.min.js"></script>
		
		
<style>
td {
	font-size: 14px;
}
.historical-figure {
	color: #3366CC;
}

.entity {
	color: #CC33FF;
}

.site {
	color: #FFCC00;
}

.region {
	color: #009933;
}

.artifact {
	color: #993300;
}

.war {
	color: #600000;
}

.battle {
	color: #900000;
}

.bar rect {
  fill: steelblue;
  shape-rendering: crispEdges;
}

.bar text {
  fill: #fff;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
</style>
</head>

<body>
	<header class="navbar navbar-static-top" id="top" role="banner">
		<div class="container">
			<nav id="bs-navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li><a href="/entities">Civilizations</a></li>
					<li><a href="/regions">Regions</a></li>
					<li><a href="/sites">Sites</a></li>
					<li><a href="/artifacts">Artifacts</a></li>
					<li><a href="/hfs">Figures</a></li>
					<li><a href="/years">Years</a></li>
					<li><a href="/collections">Collections</a></li>
				</ul>
				<form action="/search" class="navbar-form navbar-right">
					<div class="input-group">
						<input type="Search" placeholder="Search..." class="form-control"
							name="query" />
						<div class="input-group-btn">
							<button class="btn btn-default" style="height: 34px">
								<span class="glyphicon glyphicon-search"></span>
							</button>
						</div>
					</div>
				</form>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/exit">Exit</a></li>
				</ul>
			</nav>
		</div>
	</header>


	<div class="container">
		$body_content
	</div>
</body>
</html>