#set($title="Load World") #decorate("emptyLayout.vm")

<h3>Load World</h3>

<p>Current Path: $file.absolutePath</p>

<table class="table">
	#foreach($r in $roots)
	<tr>
		<td colspan="2"><a href="/load?path=$r">
				<span class="glyphicon glyphicon-hdd"
				aria-hidden="true"></span>
				$r
		</a></td>
	</tr>
	#end
	#if($parent)
	<tr>
		<td colspan="2"><a href="/load?path=$parent.getAbsolutePath()"><span
				class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> ..</a>
		</td>
	</tr>
	#end
	#foreach($f in $file.listFiles()) #if($f.isDirectory() ||
	$f.getName().endsWith("-legends.xml"))
	<tr>
		<td><a href="/load?path=$f.getAbsolutePath()"
		#if(!$f.isDirectory() && $World.checkFile($f).equals(""))class="loadable"#end>
				#if($f.isDirectory()) <span class="glyphicon glyphicon-folder-open"
				aria-hidden="true"></span> #else <span
				class="glyphicon glyphicon-file" aria-hidden="true"></span> #end
				$f.name
		</a></td>
		<td>
			$World.checkFile($f)
		</td>
	</tr>
	#end #end
</table>
#end
