#set($title=$site.name) #decorate("layout.vm")

<div class="pull-right">
	<div id="map" style="width: 300px; height: 300px"></div>
	#parse("map.vm") 
</div>
<script>
		$(function() {
			addSite('$site.link', $site.x, $site.y, '#FFF');
			zoomTo($site.x, $site.y, 4);
		});
	</script>

<h3>$site.name</h3>
$site.type 
#if($site.structures.size()>0)
<div class="row">
	<div class="col-md-8">
		<h4>Sites</h4>
		<table class="table">
			<tr>
				<th>Structure</th>
				<th>Type</th>
				<th>Alt. Name</th>
			</tr>
			#foreach( $structure in $site.structures )
			<tr>
				<td>$structure.link</td>
				<td>$structure.type</td>
				<td>$structure.name2</td>
			</tr>
			#end
		</table>
	</div>
</div>
#end

#if($site.populations.size()>0)
<div class="row">
	<div class="col-md-8">
		<h4>Populations</h4>
		<table class="table">
			<tr>
				<th>Race</th>
				<th>Count</th>
			</tr>
			#foreach( $pop in $site.populations )
			<tr>
				<td>$pop.race</td>
				<td>$pop.numbers</td>
			</tr>
			#end
		</table>
	</div>
</div>
#end

#parse("events.vm") #end
