#set($title=$site.name) #decorate("layout.vm")

<div class="pull-right">
	<div id="map" style="width: 300px; height: 300px"></div>
	#parse("map.vm") 
</div>
<script>
		$(function() {
			addSite('$site.link', $site.x, $site.y, '#FFF');
			zoomTo($site.x, $site.y, 4);
		});
	</script>

<h3>$site.name</h3>

$site.type #parse("events.vm") #end
