#set($title=$site.name) #decorate("layout.vm")

<div class="pull-right">
	<div id="map" style="width: 300px; height: 300px"></div>
	#parse("map.vm") 
</div>
<script>
		$(function() {
			addSite('$site.link', $site.x, $site.y, '#FFF');
			zoomTo($site.x, $site.y, 4);
		});
	</script>

<h3>$site.name</h3>

<div class="row">
	<div class="col-md-8">
		<h4>Sites</h4>
		<table class="table">
			<tr>
				<th>Structure</th>
				<th>Founded</th>
				<th>Destroyed</th>
			</tr>
			#foreach( $structure in $site.structures )
			<tr>
				<td>$structure.name</td>
				<td>$structure.type</td>
				<td>$structure.name2</td>
			</tr>
			#end
		</table>
	</div>
</div>

$site.type #parse("events.vm") #end
