#set($title=$artifact.name)
#decorate("layout.vm")

<h3>$artifact.name</h3>

#if($artifact.itemDescription)
<p><i>$artifact.itemDescription</i></p>
#end

<p>legendary #if($artifact.itemSubType || $artifact.itemType )
$artifact.mat
#if($artifact.itemSubType)
	$artifact.itemSubType
#else
	$artifact.itemType 
#end
#else
item
#end
#if($artifact.location)
stored in $artifact.location
#end
#if($artifact.owner)
owned by $artifact.owner
#end
</p>

#if($artifact.pageCount > 0)
<p>$artifact.pageCount pages</p>
#end

#if($artifact.writtenContent.size() > 0)
<h4>Contents</h4>
<ul>
#foreach($wc in $artifact.writtenContent)
	<li>$World.getWrittenContent($wc).link</li>
#end
</ul>
#end

#parse("events.vm")

#end