#set($title = $hf.name)
#decorate("layout.vm")

<h3>$hf.name</h3>
<p>
	#parse("hfinfo.vm")
</p>

<dl class="dl-horizontal">
#if($hf.associatedType)
	<dt>Type</dt><dd>$hf.associatedType</dd>
#end
#if($hf.spheres.size()>0)
	<dt>Spheres</dt><dd>$Event.list($hf.spheres)</dd>
#end
#if($hf.goals.size()>0)
	<dt>Goals</dt><dd>$Event.list($hf.goals)</dd>
#end
#if($hf.activeInteraction)
	<dt>Active Interactions</dt><dd>$hf.activeInteraction</dd>
#end
	<dt>Kills</dt><dd>$hf.kills</dd>
</dl>

#if($family.members.size()>1)
	<h4>Family Tree</h4>
	#parse("hffamily.vm")
#end

#if($curse)
	<h4>Curse Lineage</h4>
	#set($family=$curse)
	#parse("hffamily.vm")
#end
<div class="row">
#if(($hf.siteLinks.size()+$hf.entityPositionLinks.size()+$hf.entityFormerPositionLinks.size())>0)
	<div class="col-md-4">
	#if($hf.siteLinks.size()>0)
		<h4>Sites</h4>
		<ul>
		#foreach( $siteLink in $hf.siteLinks )
			#set ($site = $World.getSite($siteLink.siteId))
		    <li>$site.link ($site.type)</li>
		#end
	#end
	</ul>
	#if(($hf.entityPositionLinks.size()+$hf.entityFormerPositionLinks.size())>0)
		<h4>Positions</h4>
		<ul>
		#foreach( $l in $hf.entityPositionLinks )
			#set ($entity = $World.getEntity($l.entityId))
			<li>$l.getPosition($hf) of $entity.link (since $l.startYear)</li>
		#end
		#foreach( $l in $hf.entityFormerPositionLinks )
			#set ($entity = $World.getEntity($l.entityId))
			<li>$l.getPosition($hf) of $entity.link ($l.startYear - $l.endYear)</li>
		#end
		</ul>
	#end
	</div>
#end

#if($hf.historicalFigureLinks.size()>0)
<div class="col-md-4">
<h4>Related Figures</h4>
<ul>
#foreach( $hfLink in $hf.historicalFigureLinks )
	#set ($lhf = $World.getHistoricalFigure($hfLink.historicalFigureId))
    <li>$lhf.link ($hfLink.linkType)</li>
#end
</ul>
</div>
#end

#if($hf.entityLinks.size()>0)
<div class="col-md-4">
<h4>Related Entities</h4>
<ul>
#foreach( $entityLink in $hf.entityLinks )
	#set ($entity = $World.getEntity($entityLink.entityId))
    <li>$entity.link ($entityLink.linkType)</li>
#end
</ul>
</div>
#end

</div>

<div class="row">

#if($hf.entityReputations.size()>0)
<div class="col-md-4">
<h4>Entity Reputations</h4>
<ul>
#foreach( $r in $hf.entityReputations )
	#set ($entity = $World.getEntity($r.entityId))
    <li>$entity.link
		<ul>
			#if($r.unsolvedMurders > 0)<li>Unsolved Murders: $r.unsolvedMurders</li>#end
    		#if($r.firstAgelessYear > 0)<li>First Suspected Ageless Year: $r.firstAgelessYear</li>#end
    		#if($r.repEnemyFighter >= 0)<li>Enemy Fighter: $r.repEnemyFighter</li>#end
    		#if($r.repKiller >= 0)<li>Killer: $r.repKiller</li>#end
    		#if($r.repPoet >= 0)<li>Poet: $r.repPoet</li>#end
    		#if($r.repBard >= 0)<li>Bard: $r.repBard</li>#end
    		#if($r.repStoryteller >= 0)<li>Storyteller: $r.repStoryteller</li>#end
    	</ul>
    </li>
#end
</ul>
</div>
#end

#if($hf.relationshipProfiles.size()+$hf.vagueRelationships.size()>0)
<div class="col-md-4">
<h4>Relationships</h4>
<ul>
#foreach( $relationshipProfile in $hf.relevantRelationshipProfiles )
	#set ($hf2 = $World.getHistoricalFigure($relationshipProfile.hfId))
    <li>$hf2.link ($relationshipProfile.type)</li>
#end
#foreach( $vagueRelationship in $hf.vagueRelationships )
	#set ($hf2 = $World.getHistoricalFigure($vagueRelationship.hfId))
    <li>$hf2.link ($vagueRelationship.type)</li>
#end
</ul>
</div>
#end

#if($hf.sitePropertyLinks.size()>0)
<div class="col-md-4">
<h4>Properties</h4>
<ul>
#foreach( $propertyLink in $hf.sitePropertyLinks )
	#set ($site = $World.getSite($propertyLink.siteId))
	#set ($property = $site.getSiteProperties().get($propertyLink.propertyId))
    <li>$property.type in $site.link</li>
#end
</ul>
</div>
#end

#if(($hf.entitySquadLinks.size()+$hf.entityFormerSquadLinks.size())>0)
<div class="col-md-4">
<h4>Squads</h4>
<ul>
#foreach( $l in $hf.entitySquadLinks )
	#set ($entity = $World.getEntity($l.entityId))
	<li>$l.getPosition($hf) of squad $l.squadId of $entity.link (since $l.startYear)</li>
#end
#foreach( $l in $hf.entityFormerSquadLinks )
	#set ($entity = $World.getEntity($l.entityId))
	<li>$l.getPosition($hf) of squad $l.squadId of $entity.link ($l.startYear - $l.endYear)</li>
#end
</ul>
</div>
#end

#if(($hf.usedIdentityIds.size())>0)
<div class="col-md-4">
<h4>Identities</h4>
<ul>
#foreach( $id in $hf.usedIdentityIds )
	#set ($identity = $World.getIdentity($id))
	<li>$identity.getLink() #if($id == $hf.currentIdentityId)(current)#end</li>
#end
</ul>
</div>
#end

</div>

#parse("events.vm")

#end