#decorate("layoutBase.vm")

	<header class="navbar navbar-default navbar-static-top" id="top"
		role="banner">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#bs-navbar"
					aria-expanded="false">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="$suburi">Legends Browser</a>
			</div>

			<nav id="bs-navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li><a href="$suburi/">Civilizations</a></li>
					<li><a href="$suburi/worldmap">World Map</a></li>
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown" role="button" aria-haspopup="true"
						aria-expanded="false">Objects <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="$suburi/entities">Entities</a></li>
							<li><a href="$suburi/hfs">Historical Figures</a></li>
							<li><a href="$suburi/regions">Regions</a></li>
							<li><a href="$suburi/sites">Sites</a></li>
							<li><a href="$suburi/structures">Structures</a></li>
							<li><a href="$suburi/worldconstructions">World Constructions</a></li>
							<li><a href="$suburi/artifacts">Artifacts</a></li>
							<li><a href="$suburi/artforms">Art Forms</a></li>
							<li><a href="$suburi/writtencontents">Written Contents</a></li>
						</ul></li>
					<li><a href="$suburi/years">Years</a></li>
					<li><a href="$suburi/collections">Collections</a></li>
				</ul>
				<form action="/search" class="navbar-form navbar-right">
					<div class="input-group">
						<input id="query" type="Search" placeholder="Search..." class="form-control"
							name="query" autocomplete="off" style="width: 270px"/>
						<div class="input-group-btn">
							<button class="btn btn-default" style="height: 34px">
								<span class="glyphicon glyphicon-search"></span>
							</button>
						</div>
					</div>
				</form>
				#if(!$serverMode)
				<ul class="nav navbar-nav navbar-right">
					<li><a href="$suburi/exit">Exit</a></li>
				</ul>
				#end
			</nav>
		</div>
	</header>


	<div class="container">$body_content</div>

	<script src="$suburi/resources/lib/bootstrap/js/bootstrap.min.js"></script>
	<script src="$suburi/resources/lib/bootstrap3-typeahead.min.js"></script>
	

	
	<script>
	// Javascript to enable link to tab
	var hash = document.location.hash;
	var prefix = "tab_";

	if (hash) {
	    hash = hash.replace(prefix,'');
	    var hashPieces = hash.split('?');
	    activeTab = $('.nav-tabs a[href=' + hashPieces[0] + ']');
	    activeTab && activeTab.tab('show');
	} 

	// Change hash for page-reload
	$('.nav-tabs a').on('click', function (e) {
	    window.location.hash = e.target.hash.replace("#", "#" + prefix);
	});
	
	function query(term, process) {
		console.log(process);
		$.get( "$suburi/search.json?query="+term, function( data ) {
				return process(data);
			}, "json" );
	}
	
	function selectItem(item) {
		location.href = item.url;
	}
	
	$("#query").typeahead({source: query, autoSelect: false, afterSelect: selectItem, items: 'all'}); 
	
	
	function loadPopoverData() {
		return $.ajax({url: this.getAttribute("data").replace('$suburi/','$suburi/popover/'),
	        async: false}).responseText;
	}
	
	function loadLinkPopoverData() {
		return $.ajax({url: this.getAttribute("href").replace('$suburi/','$suburi/popover/'),
	        async: false}).responseText;
	}
	
	$(function () { $('[data-toggle="popover"]').popover({html: true, trigger: 'click hover', placement: 'top', content: loadPopoverData}) })
	$(function () { $('a.entity,a.site,a.region,a.structure,a.historical-figure,a.worldconstruction,a.artifact,a.collection,a.identity').popover({html: true, trigger: 'hover', placement: 'top', content: loadLinkPopoverData}) })
</script>
	
#end