<html>
	<head>
		<title>$title</title>
		<link rel="icon" type="image/png" href="$suburi/resources/icons/scroll.png" />
		<link rel="stylesheet" href="$suburi/resources/lib/jquery-ui.min.css">
		<link rel="stylesheet" href="$suburi/resources/lib/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="$suburi/resources/lib/bootstrap/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="$suburi/resources/lib/bootstrap/css/bootstrap.dark.min.css">
		<link rel="stylesheet" href="$suburi/resources/lib/leaflet/leaflet.css" />
		<link rel="stylesheet" href="$suburi/resources/lib/leaflet/Control.MiniMap.min.css" />
		<link rel="stylesheet" href="$suburi/resources/lib/leaflet/Control.Opacity.css" />
		<link rel="stylesheet" href="$suburi/resources/lib/font-awesome/css/all.min.css">
		<script src="$suburi/resources/lib/jquery-1.11.3.min.js"></script>
		<script src="$suburi/resources/lib/jquery-ui.min.js"></script>
		<script src="$suburi/resources/lib/jscolor.min.js"></script>
        <script src="$suburi/resources/lib/jquery.mousewheel.min.js"></script>
        <script src="$suburi/resources/lib/awartani_fork.jquery.panzoom.js"></script>
		<script src="$suburi/resources/lib/leaflet/leaflet.js"></script>
		<script src="$suburi/resources/lib/leaflet/Control.MiniMap.min.js"></script>
		<script src="$suburi/resources/lib/leaflet/Control.Opacity.js"></script>
		<link rel="stylesheet" href="$suburi/resources/lib/legends.css">
	</head>
	
	<body>
		$body_content
	</body>
</html>