#set($title=$mountain.name) #decorate("layout.vm")

<div class="pull-right">
	<div id="map" style="width: 300px; height: 300px"></div>
	#parse("map.vm")
</div>
<script>
		$(function() {
				addSite('$mountain.mapDescription', $mountain.coords.get(0).x, $mountain.coords.get(0).y, '#FFF', '$mountain.glyph');
		});
	</script>

<h3>$mountain.name</h3>
Height: $mountain.height
 #parse("events.vm") #end
