#set($title=$region.name) #decorate("layout.vm")

<div class="pull-right">
	<div id="map" style="width: 300px; height: 300px"></div>
	#parse("map.vm")
</div>
<script>
		$(function() {
			var polygon = L.polygon(
					[
					 
						#foreach($c in $region.outline)
							coord($c.x,$c.y - 1)#if($foreach.hasNext),#end
						#end					 
					 
					 ], {
						color : '#fff',
						opacity: 1, fillOpacity: 0.3,
						weight : 1
					}).addTo(sitesLayer);
		});
	</script>

<h3>$region.name</h3>
$region.type

<dl class="dl-horizontal">
#if($region.force)
	<dt>Force</dt><dd>$region.force.link</dd>
#end
</dl>

#parse("events.vm")

#end
