#set($title=$structure.name) #decorate("layout.vm")

<div class="pull-right">
	<div id="map" style="width: 300px; height: 300px"></div>
	#parse("map.vm") 
</div>
<script>
		$(function() {
			#set($site=$World.getSite($structure.siteId))
			addSite('$site.link', $site.x1, $site.y1, $site.x2, $site.y2, '#FFF', '$site.glyph');
			zoomTo($site.x, $site.y, 4);
		});
	</script>

<h3>$structure.name</h3>
<p>$structure.type in $World.getSite($structure.siteId).link</p>
#if($structure.type.equals("temple"))
	$World.getEntity($structure.religionEnId).link worshipping $World.getHistoricalFigure($structure.deityHfId).link
#end
<div class="object-header">
	<!-- Nav tabs -->
	<ul class="nav nav-tabs object-tab" role="tablist">
	#set($first=true)
	#if($structure.inhabitantIds.size()>0)
		<li role="presentation" #if($first)class="active"#end><a href="#tab-inhabitants" role="tab" data-toggle="tab">Inhabitants ($structure.inhabitantIds.size())</a></li>
		#set($first=false)
	#end
	#if($structure.copiedArtifactIds.size()>0)
		<li role="presentation" #if($first)class="active"#end><a href="#tab-copies" role="tab" data-toggle="tab">Copied Artifacts ($structure.copiedArtifactIds.size())</a></li>
		#set($first=false)
	#end
	</ul>

	<!-- Tab panes -->
	<div class="tab-content">
		#set($first=true)
 		#if($structure.inhabitantIds.size()>0)
		<div role="tabpanel" class="tab-pane #if($first)active#end" id="tab-inhabitants">
			<table class="table table-hover object-table">
				<thead><tr>
					<th>Inhabitant</th>
				</tr></thead>
				#foreach( $hf in $structure.inhabitantIds )
				<tr>
					<td>$World.getHistoricalFigure($hf).link</td>
				</tr>
				#end
			</table>
		</div>
		#set($first=false)
		#end
		
		#if($structure.copiedArtifactIds.size()>0)
		<div role="tabpanel" class="tab-pane #if($first)active#end" id="tab-copies">
			<table class="table table-hover object-table">
				<thead><tr>
					<th width="100%">Artifact</th>
				</tr></thead>
				#foreach( $copy in $structure.copiedArtifactIds )
				<tr>
					<td>$World.getArtifact($copy).link</td>
				</tr>
				#end
			</table>
		</div>
		#set($first=false)
		#end 
	</div>
</div>

#parse("events.vm") #end
