#set($title="World Map") #decorate("layout.vm")

<div id="map" style="width: 100%; height: 1000px"></div>
	#set($layerControl=true)
	#parse("map.vm") 

	<script>
		$(function() {
			#foreach($landmass in $World.getLandmasses())
				addRegion('$landmass.mapDescription', $landmass.coord1.x, $landmass.coord1.y, $landmass.coord2.x, $landmass.coord2.y, '#FFF');
			#end
			#foreach($mountain in $World.getMountainPeaks())
				addMountain('$mountain.mapDescription', $mountain.coords.get(0).x, $mountain.coords.get(0).y, '#666');
			#end
			#foreach($wc in $World.getLineWorldConstructions())
			
				var latlngs = [
			   		#foreach($c in $wc.coords)
			   			coord($c.x + 0.5,$c.y - 0.5)#if( $foreach.hasNext ),#end
			   		#end
			   	];
	   			var polyline = L.polyline(latlngs, {color: '$wc.color', opacity: 1, weight: 3}).addTo(constructionsLayer);
	   			attachTooltip(polyline, '$wc.mapDescription');
	   			
	   			polyline.on('mouseover', function (e) {
	   	         	this.setStyle({weight: 10});
	   	        });
	   			polyline.on('mouseout', function (e) {
	   	         	this.setStyle({ weight: 3});
	   	        });
			#end
			
			#foreach($site in $World.getSites())
				addSite('$site.mapDescription', $site.x1, $site.y1, $site.x2, $site.y2, '#if($site.owner.root)$site.owner.root.color#else#CCC#end', '$site.glyph');
			#end
			
			#foreach($wc in $World.getPointWorldConstructions())
				#set($c=$wc.coords[0])
				addWc('$wc.mapDescription', $c.x, $c.y, '$wc.color');
			#end
			
			#foreach($region in $World.getRegions())
				var polygon = L.polygon(
					[
						#foreach($c in $region.outline)
							coord($c.x,$c.y - 1)#if($foreach.hasNext),#end
						#end
					 ], {
						color : '#fff',
						opacity: 1, fillOpacity: 0,
						weight : 1
					}).addTo(regionsLayer);
				attachTooltip(polygon, '$region.mapDescription');
				
	   			polygon.on('mouseover', function (e) {
	   	         	this.setStyle({weight: 10});
	   	        });
	   			polygon.on('mouseout', function (e) {
	   	         	this.setStyle({ weight: 3});
	   	        });
			#end
			
		});
	</script>

#end