#set($title=$wc.title) #decorate("layout.vm")

<h3>$wc.title</h3>
<p>$wc.type by $World.getHistoricalFigure($wc.authorHfId).link#if($wc.authoredIn.id > 0 || $wc.authoredOn != "")
, authored
	#if($wc.authoredIn.id > 0)
		in $wc.authoredIn.getLink()
	#end
	#if($wc.authoredOn != "")
		on $wc.authoredOn
	#end
#end
</p>

#if($wc.form != -1)
	an example of
	#if($wc.type.equals("musical composition"))
		$World.getMusicalForm($wc.form).link
	#elseif($wc.type.equals("choreography"))
		$World.getDanceForm($wc.form).link
	#else
		$World.getPoeticForm($wc.form).link
	#end
#end

#if($wc.references.size()>0)
<h4>References</h4>
<ul>
#foreach($reference in $wc.references)
	<li>
	#if($reference.type.equals("HISTORICAL_EVENT")) 
		$World.getHistoricalEvent($reference.id).sentence 
	#elseif($reference.type.equals("HISTORICAL_FIGURE")) 
		$World.getHistoricalFigure($reference.id).link 
	#elseif($reference.type.equals("SITE")) 
		$World.getSite($reference.id).link 
	#elseif($reference.type.equals("ENTITY")) 
		$World.getEntity($reference.id).link 
	#elseif($reference.type.equals("ARTIFACT")) 
		$World.getArtifact($reference.id).link 
	#elseif($reference.type.equals("SUBREGION")) 
		$World.getRegion($reference.id).link 
	#elseif($reference.type.equals("WRITTEN_CONTENT")) 
		#set($wc = $World.getWrittenContent($reference.id))
		the $wc.type $wc.link 
	#else
		$reference.type $reference.id
	#end
	</li>
#end
</ul>
#end

#if($wc.styles.size()>0)
<h4>Style</h4>
<ul>
#foreach($style in $wc.styles)
	<li>$style</li>
#end
</ul>
#end

#end
